
 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1000px;
  height: 470px;
  border: 3px solid black;
  border-radius: 16px;
  margin: 22vh auto;
  padding: 20px;
  position: relative;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  margin-top: 300px;
  width: 130px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 9px;
  position: fixed;
}

.text {
  font-size: 25px;
}


