:root {
  --color: rgb(14, 26, 14);
  --button-color:rgb(104, 255, 4);
  --secondary-color: #1c4114;
}
 
 
 .cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20vh auto;
  width: 60vw;
  height: 50vh;
  border: 1px solid var(--button-color);
  border-radius: 16px;
  opacity: 0.9;
  padding: 2rem;
  box-shadow: 2px 2px 20px 2px rgb(81, 255, 0);
  background-color: var(--secondary-color);
  }

  .cont::before{
    content: "";
    background: url(/public/img/bb.png) center no-repeat fixed;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
    
  }


.btn{
  background-color: var(--secondary-color);
  color: var(--button-color);
  font-size: 22px;
  font-weight: bold;
  width: 170px;
  border-radius: 10px;
  transition: 0.4s;
  max-width: 29vw;
  max-height: 10vh;
  margin-top: 5vh;
  border: 1px solid var(--button-color);
}

.btn:hover {
  color: var(--secondary-color);
  background-color: var(--button-color);
  box-shadow: 2px 2px 15px 2px rgb(81, 255, 0);
}

.text {
  text-align: center;
  padding: 2rem;
  color: var(--button-color);
  z-index: 99;
}

body {
  background: url(/public/img/joshua-freake-Qgh0z14m5LI-unsplash.jpg)center/cover no-repeat fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


footer {
  text-align: center;
  color: var(--button-color);
  margin-top: 20vh;
  font-size: 12px;
}

.text h2{
  font-weight: 800;
  color: var(--button-color);
  opacity: 1;
}

@media (min-width: 320px) and (max-width: 768px) {
  .cont {
      width: 98vw;
      height: 90vh;
      font-size: small;
  }

}






